# Node modules
node_modules/

# Build output
dist/
*.js
*.js.map

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment and secrets
.env

# Ansible Collection builds
*.tar.gz
*.tar
*.zip

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.retry
.vscode/